:root {
    --red: #BE1622;  /*اللون الاساسي للموقع*/
    --greyWhite: #DDDDDD; /*سكني فاتح للحدود والفوتير*/
    --dullBlack: #4B4B4B; /*اسود باهت للكتابة*/
    --back: #f8f6f6; /*سكني فاتح للخلفيات*/

  }

  /****************************************start home page****************************************/
  /*start navbar*/
  .navbar{
    background-color: var(--red);
  }
  .navbar .collapse i{
    color: white;
    font-size: 20px;
    padding-left: 20px;
  }
  .collapse ul{
    margin-left: 150px;
  }
  .navbar .collapse i:hover{
    font-size: 20px;
  }
  .navbar img{
    position:absolute;
    height: 265%;
    width: 8%;
    margin-top: 70px;
    margin-right: 3%;
    box-shadow: 2px 2px 10px var(--dullBlack);
  }
   @media (max-width: 992px) { 
    .navbar img{
      visibility: hidden;
    }
    }
  /*end navbar*/

  /*start header*/
  .carousel{
    width: 80%;
    margin-top: 5%;
    margin-right:15%;
    margin-left: 30%;
    margin-bottom: 5%;
  }
  .carousel img{
    box-shadow: 2px 2px 10px var(--greyWhite);
    width: 65%;
    text-align: center;
    margin-right: 12%;
  }
  span.carousel-control-prev-icon , span.carousel-control-next-icon{
    background-color: var(--greyWhite);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 15px;
    margin-left: 60%;
  }
/*end header*/

/*start chose*/
.chose{
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: var(--back);
}
.chose-title{
  background-color: var(--red);
  height: 35px;
  width: 150px;
  text-align: center;
  color: white;
  border-radius: 50px 5px;  
  margin-bottom: 2%;
}
.chose-title h2{
  font-size: 22px;
}
.card{
  margin-top: 20px;
  border: var(--greyWhite) solid 1px;
  margin-right: 10px;
  color: var(--dullBlack);
}
.card img{
  width: 80%;
  height: 60%;
  justify-content: center;
  margin-top: 15px;
  margin-right: 20px;
}
.card h5{
  font-size: 18px;
}
.card button{
  text-align: center;
  color: white;
  background-color: var(--red);
}
.card button:hover{
  border-color: var(--red);
  color: var(--red);
}
.card i{
  color: white;
  font-size: 25px;
  margin-right: 5px;
}
.card i:hover{
  color: var(--red);
}
.more{
  border-color: white;
  text-align: center;
  margin-top: 20px;
  background-color: var(--back);

}
.more:hover{
  color: var(--red);
}
.more i{
  color: var(--dullBlack);
  margin-top: 35%;
}
.more-content{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: solid 1px var(--greyWhite);
  text-align: center;
  margin-top: 40%;
  margin-right: 35%;
}
.more a{
  color: var(--dullBlack);
  text-decoration: none;
  margin-top: 10px;
}
.more a:hover{
  color: var(--red);
}
@media (max-width: 768px) { 
  .card{
    margin-right: 20%;
  }
 }

/*end chose*/

/*start store*/
.store{
  margin-top: 50px;
  color: var(--dullBlack);
  padding-bottom: 5%;
}
.store-head{
  text-align: center;
  color: var(--red);
  padding-bottom: 2%;
}
.form-check {
  padding-left: 1px; 
}
.Section-name{
  background-color: var(--red);
  height: 35px;
  width: 150px;
  text-align: center;
  color: white;
  border-radius: 50px 5px; 
  margin-bottom: 3%;
  margin-top: 2%; 
}
.Section-name h2{
    font-size: 24px;
}
.store-content{
  margin-bottom: 65px;
}
.store-name{
  position: absolute;
  background-color: white;
  margin-top: -40px;
  width: 170px;
  height: 90px;
  border-radius: 50px 1px 1px 1px;
  box-shadow: 2px 2px 2px rgb(189, 189, 189);
}
.store-name h3{
  font-size: 18px;
  padding: 10px;
}
.store-name a{
  font-size: 18px;
  padding: 10px;
  color: var(--red);
  text-decoration: none;
  font-weight:bolder;
}

/*end store*/

/*start dealer*/
.dealer{
  background-image: url(../img/dealer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-attachment: fixed;
}
.dealer a{
  background-color: var(--red);
  color: white;
  margin-top: 4%;
  margin-right: 68%;
  font-size: 25px;
  border-color: white;
}
.dealer p{
  padding-top: 9%;
  margin-right: 65%;
  color: white;
  font-size: 30px;
}
.dealer a:hover{
  background-color: var(--red);
  color: white;
  border-color: var(--red);
}
@media (max-width: 768px) { 
  .dealer a{
    background-color: var(--red);
    color: white;
    margin-top: 7%;
    margin-right: 40%;
    font-size: 15px;
  }
  .dealer p{
    padding-top: 30%;
    margin-right: 35%;
    font-size: 20px;
  }
  .dealer a:hover{
    background-color: var(--red);
    color: white;
    border-color: var(--red);
  }
}
/*end dealer*/

/*start footer*/
.footer{
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: var(--back);
}
.footer h5{
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 18px;
  color: var(--dullBlack);
}
.footer .row a{
  color: black;
  padding-bottom: 20px;
  display: inline-block;
}
.footer .row a.d{
  display: block;
}
.footer .row a:hover{
  text-decoration: none;
  color: var(--red);
}
.footer .social-media{
  text-align: center;
  margin-top: 3%;
}
.footer .social-media a i{
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 10px;
  background-color: var(--red);
  color: white;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 15px;
}
.footer .fa-instagram:hover{
  background-color: rgb(219, 28, 156);
}
.footer .fa-facebook-f:hover{
  background-color: rgb(0, 0, 191);
}
.footer .fa-whatsapp:hover{
  background-color: rgb(3, 202, 83);
}
.footer .fa-envelope:hover{
  background-color: rgb(240, 0, 0);
}
/*end footer*/
/*start copy-right*/
.copy-right{
  background-color: var(--red);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 14px;
  text-align: left;
}
.copy-right p{
  display: inline;
  margin-right: 20%;
}
/*end copy-right*/


/****************************************end home page****************************************/

/****************************************start join us page**********************************/
.definition{
  margin-top: 10%;
  margin-bottom: 8%;

}
.definition h3{
  padding-bottom: 30px;
  text-align: center;
  color:  var(--red);
}
.text{
  border: var(--greyWhite) solid 1px;
  border-radius: 15px;
 padding: 2%;
 margin: 3%;
 margin-right: 18%;
 width: 65%;
 font-size: 18px;
 color: var(--dullBlack);
background-color: var(--back);


}
.text:hover{
  box-shadow: 2px 2px 10px var(--dullBlack);

}

.img_store{

  background-image: url(../img/المتجر.jpeg);
  background-size: cover;
  height: 420px;
 

  
  }
  
  .info p {
   
    padding-top: 10%;
    padding-right: 5%;
    font-size: 20px;
    color: var(--red);
    width: 45%;
  margin-bottom: 3%;
  
  }
  .info a{
    background-color: var(--red);
    color: white;
   border-radius: 5px;
   padding: 8px;
   padding-left: 20px;
   padding-right: 20px;
  font-size: 25px;
  margin-right: 5%;

  text-decoration: none;

  }

    .info a:hover{

      box-shadow: 2px 2px 10px var(--dullBlack);
    }
/****************************************end join us page**********************************/


/***************************************start privacy and security page**********************************/
.priv_sec{
  margin-top: 10%;
  margin-bottom: 15%;
}
.priv_sec h3{
  color: var(--red);
  padding-bottom: 2%;
}
.priv_sec p{
  font-size: 20px;
  color: var(--dullBlack);
}
/*******************************************end privacy and security page**********************************/

/******************************************start about page**********************************/
.about{
margin-top: 10%;
margin-bottom: 10%;
}
.about h2{
  padding-bottom: 2%;
  color: var(--red);
  font-size: 36px;
}
.about p{
  font-size: 20px;
  color: var(--dullBlack);
width: 95%;}
.about .titlle{
text-align: center;
margin-top: 4%;
font-size: 23px;
color: var(--red);
}

.founders{
  margin-top: 4%;
  margin-bottom: 5%;

  justify-content: space-evenly;
}
.box{
 width: 46%;
 height: 230px;
 margin: 20px;
 box-sizing: border-box;
 border: var(--greyWhite) solid 1px;
 border-radius: 7px;

}
.info p {
padding-top: 10px;
font-size: 22px;
padding-right: 30px;
}
.info .first-p{
  padding-top: 30px;
}
.contact_us{
  text-align: center;
margin-top: 6%;

}

.contact_us a i{
 
  background-color: var(--red);
  color: white;
  height: 30px;
  width: 30px;
  padding-top: 9px;
  border-radius: 50%;
  font-size: 15px;
  margin-left: 8px;
  margin: 10px;


}
.box:hover{
  box-shadow: 2px 2px 10px var(--dullBlack);
}

/**************************************** start pay page***********/
.pay{
  margin-top: 10%;
  
}
.ways-pay h3{
  color: var(--red);
  padding-bottom:2%;
}
.ways-pay  p{
  font-size: 25px;
  color: var(--dullBlack);
  padding-bottom: 10px;
}
.ways-pay ul li {
list-style-type: none;
color: var(--dullBlack);
padding-bottom: 12px;
font-size: 19x;


}
.ways-pay ul li i{
  font-size: 20px;
 margin-left: 17px;
}
.img-pay{
margin-right: 10%;
margin-bottom: 4%;


}
/*************************************start feedback page******************************/
.feedback{
  margin-top: 10%;
  margin-bottom: 5%;
}
.feedback h3{
  color: var(--red);
  text-align: center;
}
.text_box{
  text-align: center;
  margin-top: 9%;
}
.text_box p{
 font-size: 20px;
 padding-bottom: 1%;
 color: var(--dullBlack);

}
.text_box textarea{
  width: 340px;
  height: 100px;
  border-radius: 9px;
}

.text_box input{
  margin-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 18px;
  background-color: var(--red);
  color: white;
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: var(--red);

}
.text_box input:hover{
  box-shadow: 2px 2px 10px var(--dullBlack);
}
/********************************************end feedback page******************/
.delivery{
  margin-top: 10%;
  margin-bottom: 5%;
}
.delivery h3{
  color: var(--red);
  padding-bottom: 1%;
}
.delivery p{
  color: var(--dullBlack);
  font-size: 20px;
}
.deliv{
  margin-top: 3%;
}
.img-del{
  margin-right: 1%;
}
.del .packkag{
  margin-top: 6%;
}
.del ul {
  list-style-type: none;
  font-size: 18px;
 
}
.del ul li{
  padding: 17px;
}
/***********************************************start stores page******************/
.stores{
  margin-top: 10%;
  margin-bottom: 8%;
}
.description{
  padding: 2%;
  font-size: 20px;
  color: var(--dullBlack);
  margin-bottom: 8%;
  background-color: var(--back);
  border-radius: 7px;


}
.description .name-store{
  color: var(--red);
  font-size: 23px;
}
 .img-descr img{
  margin-right: 20%;
  border-radius: 50%;
  border: 5px solid var(--red);

}
.links a i{
   
  background-color: var(--red);
  color: white;
  height: 30px;
  width: 30px;
  padding-top: 8px;
  border-radius: 50%;
  font-size: 16px;
  margin-left: 8px;
  text-align: center;
  margin: 7px;

}